@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, #2193b0, #6dd5ed);
  font-family: "Roboto", sans-serif;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  gap: 20px;
}

.card {
  border: 2px solid rgba(0, 0, 0, 0.24);
  border-radius: 20px !important;
  width: 80px;
  height: 80px;
  background-color: #322e2f;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 3px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover {
  background-color: #d9138a;
  border: 2px solid;
}

.heading {
  margin: 0 20px;
  min-width: 500px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: left;
}

.title {
  font-size: 20px;
  font-weight: 800;
  color: #322e2f;
}

.highlight {
  color: #d9138a;
  font-size: 80px;
}

.scoreboard {
  background-color: #6dd5ed;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  /* max-width: 500px; */
}

.score-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.player {
  font-size: 25px;
  font-weight: 600;
  margin: 5px;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column > * {
  width: calc(100% / 3);
  padding: 1rem;
}

.img-fluid {
  width: 100%;
  flex-grow: 1;
  height: 100vh;
}

.options {
  font-size: 20px;
  font-weight: 500;
  background-color: #6dd5ed;
  width: 200px;
  padding: 16px;
  border-radius: 10px;
}

.options-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.radio-option {
  margin: 8px 0;
}

.reset-game {
  margin: 0.5rem 0;
  color: white;
  background-color: #d9138a;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  padding: 4px;
}

.direction {
  max-width: 500px;
  background-color: #6dd5ed;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
}

@media (max-width: 1024px) {
  .App {
    min-height: 100vh;
    flex-direction: column;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .column > * {
      width: 100%;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .row {
    justify-content: center;
  }

  .container {
    margin: 3rem 0;
  }
}