.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, #2193b0, #6dd5ed);
}

.container {
  width: 400px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.card {
  border: 2px solid rgba(0, 0, 0, 0.24);
  border-radius: 20px !important;
  width: 80px;
  height: 80px;
  background-color: #322E2F;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 3px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover {
  background-color: #d9138a;
  border: 2px solid 
}

.heading {
  margin: 20px;
}

.title {
  font-size: 40px;
  font-weight: 800;
  color: #322e2f;
}

.highlight {
  color: #d9138a;
  font-size: 60px;
  text-decoration: underline;
}

.scoreboard {
  background-color: #6dd5ed;
  font-size: 30px;
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
}

.score-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.player {
  font-size: 25px;
  font-weight: 600;
  margin: 5px;
}